{{- /* Scheme color mode light/dark */ -}}
<script type="text/javascript">
  let mode = 'light';
  function identifyAndSetColorScheme() {
    const root = document.getElementsByTagName('html')[0];
    const storageMode = window.localStorage.getItem('mode');
    const darkModeClass = 'dark-mode';
    if (storageMode === 'dark') {
      root.classList.add(darkModeClass);
      mode = 'dark';
    } else if (storageMode === 'light') {
      root.classList.remove(darkModeClass);
    } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      root.classList.add(darkModeClass);
      mode = 'dark';
    } else {
      root.classList.remove(darkModeClass);
    }
  }

  identifyAndSetColorScheme();
</script>

{{- /* Page loading script */ -}}
<script type="text/javascript">
  (function () {
    window.onload = function () {
      const preloader = document.querySelector('.page-loading');
      preloader.classList.remove('active');
      setTimeout(function () {
        preloader.remove();
      }, 1000);
    };
  })();
</script>
