{{ partial "html_open.html" . }}

<main class="page-wrapper">
  {{ partial "header_menu.html" . }}

  <section class="pagerefvh-100 bg-repeat-0 bg-position-center bg-size-cover overflow-hidden">
    fwefgwefgewtgwetfwetf
    {{ .Content }}
    wetfwetfwetwet
  </section>

  <section class="pagerefvh-100 bg-repeat-0 bg-position-center bg-size-cover overflow-hidden">
    fwefgwefgewtgwetfwetf
    {{ .Content }}
    wetfwetfwetwet
  </section>

  <section class="pagerefvh-100 bg-repeat-0 bg-position-center bg-size-cover overflow-hidden">
    fwefgwefgewtgwetfwetf
    {{ .Content }}
    wetfwetfwetwet
  </section>

  <section class="pagerefvh-100 bg-repeat-0 bg-position-center bg-size-cover overflow-hidden">
    fwefgwefgewtgwetfwetf
    {{ .Content }}
    wetfwetfwetwet
  </section>

  <section class="pagerefvh-100 bg-repeat-0 bg-position-center bg-size-cover overflow-hidden">
    fwefgwefgewtgwetfwetf
    {{ .Content }}
    wetfwetfwetwet
  </section>

  <section class="pagerefvh-100 bg-repeat-0 bg-position-center bg-size-cover overflow-hidden">
    fwefgwefgewtgwetfwetf
    {{ .Content }}
    wetfwetfwetwet
  </section>

  <section class="pagerefvh-100 bg-repeat-0 bg-position-center bg-size-cover overflow-hidden">
    fwefgwefgewtgwetfwetf
    {{ .Content }}
    wetfwetfwetwet
  </section>

  <section class="pagerefvh-100 bg-repeat-0 bg-position-center bg-size-cover overflow-hidden">
    fwefgwefgewtgwetfwetf
    {{ .Content }}
    wetfwetfwetwet
  </section>

  <section class="pagerefvh-100 bg-repeat-0 bg-position-center bg-size-cover overflow-hidden">
    fwefgwefgewtgwetfwetf
    {{ .Content }}
    wetfwetfwetwet
  </section>

  <section class="pagerefvh-100 bg-repeat-0 bg-position-center bg-size-cover overflow-hidden">
    fwefgwefgewtgwetfwetf
    {{ .Content }}
    wetfwetfwetwet
  </section>

  <section class="pagerefvh-100 bg-repeat-0 bg-position-center bg-size-cover overflow-hidden">
    fwefgwefgewtgwetfwetf
    {{ .Content }}
    wetfwetfwetwet
  </section>

  <section class="pagerefvh-100 bg-repeat-0 bg-position-center bg-size-cover overflow-hidden">
    fwefgwefgewtgwetfwetf
    {{ .Content }}
    wetfwetfwetwet
  </section>
</main>

{{ partial "footer.html" . }}

{{ partial "html_close.html" . }}
